
/* Header, footer */

header, footer {
  background-color: #38b6ff;
}

h1{
	color:#2E8B57;
	font-style: oblique;
}	
.p1{
	background:linear-gradient(45deg, #8B0000, #FFFFFF,#FF0000);
	padding:5px;
}
.k1{
	width:97%;
	border: 5px double Purple;
	border-radius: 15px;
}
.p2{
	background:linear-gradient(90deg, #FFFF00, #32CD32,#00BFFF);
	padding:5px;
}
.p3{
	background:linear-gradient(180deg, #FFFFFF,#DA70D6,#8A2BE2,#FF0000);
	padding:6px;
}
.k2{
	width:97%;
	border: 5px double #8B0000;
	border-radius: 15px;
}
/*menu*/
#nav{
padding: 10px 0 5px 0;
text-align: center;
list-style-type: none;
font-family: Arvo ,serif;
font-size: 22px;
fext-transfore: uppercase; 
}
#nav li{
    display: inline;
    margin-left: 10px;
}
#nav a{
	text-decoration: none;
	color: #B22222;
	padding: 5px 10px;
	font-weight: bold;
	display: inline-block;
}
#nav a:hover{
	background: #000080;
	color: White;
    border-radius: 200px 200px 200px 200px 
}	
h1{
	color: #008080;
	text-align:center;
}
h2{
	color: #008080;
	text-align:center;
}
.carousel a:hover {
    background: #4B0082;
}
.carousel{
	border: 7px solid #8B0000;
}